
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/resources.css" />
    <title>Your Resources</title>
    <%- include('../partials/_navbar.ejs') %>
  </head>
<body>
<div class="row-container">
 <form  action="/files" method="POST" enctype="multipart/form-data">
    <h2>Resume</h2>
    <input type="file" name="imgUrl1" id="actual-btn1" hidden />
    <label for="actual-btn1">Choose a File</label>
    <button type="submit">Upload File 1</button>
    <h3>uploaded file</h3>
<% if (uploadedFiles){ %>
<img id="uploaded-image1" src="<%= uploadedFiles%>" alt="uploaded image1" />
<%}%>
</form>

<form action="/files" method="POST" enctype="multipart/form-data">
    <h2>Cover Letter Template</h2>
    <input type="file" name="imgUrl2" id="actual-btn2" hidden />
    <label for="actual-btn2">Choose a File</label>
    <button type="submit">Upload File 2</button>
    <h3>uploaded file</h3>
    <% if (uploadedFiles && uploadedFiles.imgUrl2){ %>
    <img id="uploaded-image2" src="<%= uploadedFiles.imgUrl2%>" alt="uploaded uploaded-image2" />
    <%}%>
</form>
</div>

<div class="row-container2">
<form action="/files" method="POST" enctype="multipart/form-data">
    <h2>Portfolio</h2>
    <input type="file" name="imgUrl3" id="actual-btn3" hidden />
    <label for="actual-btn3">Choose a File</label>
    <button type="submit">Upload File 3</button>
    <h3>uploaded file</h3>
<% if (uploadedFiles && uploadedFiles.imgUrl3){ %>
<img id="uploaded-image3" src="<%= uploadedFiles.imgUrl3%>" alt="uploaded image1" />
<%}%>
</form>

<form action="/files" method="POST" enctype="multipart/form-data">
    <h2>Follow Up Email Template</h2>
    <input type="file" name="imgUrl4" id="actual-btn4" hidden />
    <label for="actual-btn4">Choose a File</label>
    <button type="submit">Upload File 4</button>
    <h3>uploaded file</h3>
    <% if (uploadedFiles && uploadedFiles.imgUrl4) { %>
    <img id="uploaded-image4" src="<%= uploadedFiles.imgUrl4%>" alt="uploaded image1" />
    <%}%>
</form>
    </div>
</div>
</div>
  </body>
  
  