
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Resources</title>
    <%- include('../partials/_navbar.ejs') %>
  </head>
<body class="index-body">
 <form action="/files" method="POST" enctype="multipart/form-data">
    <input type="file" name="imgUrl1" id="actual-btn1" hidden />
    <label for="actual-btn1">Choose a File</label>
    <button type="submit">Upload File 1</button>
</form>
<div id="image-container">
<h1>uploaded file</h1>
<% if (uploadedFiles && uploadedFiles.imgUrl1){ %>
<img id="uploaded-image1" src="<%= uploadedFiles.imgUrl1%>" alt="uploaded image1" />
<%}%>
</div>

<form action="/files" method="POST" enctype="multipart/form-data">
    <input type="file" name="imgUrl2" id="actual-btn2" hidden />
    <label for="actual-btn2">Choose a File</label>
    <button type="submit">Upload File 2</button>
</form>
<div id="image-container">
    <h1>uploaded file</h1>
    <% if (uploadedFiles && uploadedFiles.imgUrl2){ %>
    <img id="uploaded-image1" src="<%= uploadedFiles.imgUrl2%>" alt="uploaded image1" />
    <%}%>

    </div>
<form action="/files" method="POST" enctype="multipart/form-data">
    <input type="file" name="imgUrl3" id="actual-btn3" hidden />
    <label for="actual-btn3">Choose a File</label>
    <button type="submit">Upload File 3</button>
</form>
<div id="image-container">
<h1>uploaded file</h1>
<% if (uploadedFiles && uploadedFiles.imgUrl3){ %>
<img id="uploaded-image1" src="<%= uploadedFiles.imgUrl3%>" alt="uploaded image1" />
<%}%>
</div>
<form action="/files" method="POST" enctype="multipart/form-data">
    <input type="file" name="imgUrl4" id="actual-btn4" hidden />
    <label for="actual-btn4">Choose a File</label>
    <button type="submit">Upload File 4</button>
</form>
<div id="image-container">
    <h1>uploaded file</h1>
    <% if (uploadedFiles && uploadedFiles.imgUrl4) { %>
    <img id="uploaded-image1" src="<%= uploadedFiles.imgUrl4%>" alt="uploaded image1" />
    <%}%>
    </div>
  </body>
  