
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/todo.css" />
  <title>Editing <%= todo.name %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="edit-body">
  <h1>Edit <%= todo.name %></h1>
  <div class="center">
  <form
    action="/todos/<%= todo._id %>?_method=PUT"
    method="POST"
  >
    <label for="name">Todo Input</label>
    <input type="text" id="name" name="name"required value="<%= todo.name %>">

    <label for="completed">completed</label>
    <input type="checkbox" id="completed" name="completed" value="<%= todo.completed %>">
<div>
    <button type="submit">Update Application</button>
</div>
  </form>
</div>
</div>
</body>
</html>
